<div class='ui main container'>

  {{! Create a breadcrumb to access all parent directories from the top }}
  <div class='ui breadcrumb'>
    {{#each (reverse model.ancestors.content) as |ancestor|}}
      {{! Add a breadcrumb link to each ancestor }}
      {{#link-to 'home.directory' ancestor class='section'}}
        {{format-directory-name ancestor.name}}
      {{/link-to}}
      {{! Add a divider between each ancestor }}
      <i class='right angle icon divider'></i>
    {{/each}}
    {{! Current directory is last breadcrumb }}
    {{#if model.ancestors.isFulfilled}}
      <h4 class='section'>
        {{format-directory-name model.name}}
      </h4>
    {{/if}}
  </div>

  {{#directory-browser as |browser|}}
    {{#browser.dimmer class='inverted'}}
      <div class='ui loader' />
    {{/browser.dimmer}}
    {{#browser.menu as |menu|}}
      {{#if (eq selectedDirOrFiles.length 1)}}
        {{#menu.item tagName='a'}}
          <i class='write icon' />
          Rename
        {{/menu.item}}
      {{/if}}
      {{#if (gt selectedDirOrFiles.length 0)}}
        {{#menu.item tagName='a' click=(action 'destroyDirOrFiles' selectedDirOrFiles)}}
          <i class='trash icon' />
          Delete
        {{/menu.item}}
      {{/if}}
      {{!
        The right side of the menu is a separate menu
      }}
      <div class='right menu'>
        {{#menu.item}}
          <div class='ui transparent input'>
            {{one-way-input class='prompt' type='text' placeholder='Name'
              value=newDirOrFileNameText
              update=(action (mut newDirOrFileNameText))
            }}
          </div>
        {{/menu.item}}
        {{#menu.item tagName='a'
          class=(concat 'icon ' (if (eq newDirOrFileNameText '') 'disabled'))
        }}
          <i class='file icon' />
        {{/menu.item}}
        {{#menu.item tagName='a'
          class=(concat 'icon ' (if (eq newDirOrFileNameText '') 'disabled'))
          click=(unless (eq newDirOrFileNameText '') (action 'createNewDirectoryFromInput'))
        }}
          <i class='folder icon' />
        {{/menu.item}}
      </div>
    {{/browser.menu}}
    {{#browser.table class='unstackable selectable' as |table|}}
      <thead>
        <tr>
        <th>Name</th>
        <th>Modified</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.children as |child|}}
          {{#unless child.isNew}}
            {{#table.row
              class=(concat 'directory-entry ' (if (array-contains selectedDirOrFiles child) 'active'))
              click=(action 'setSelectedDirOrFile' child)
            }}
              {{! Name }}
              <td>
                {{#link-to 'home.directory' child}}
                  <i class='folder icon'></i>
                  {{child.name}}
                {{/link-to}}
              </td>
              {{! Modified }}
              <td>--</td>
            {{/table.row}}
          {{else}}
            {{#table.row class='directory-entry loading'}}
              {{! Name }}
              <td>
                <a href='#'>
                  <i class='folder icon'></i>
                  {{child.name}}
                </a>
              </td>
              {{! Modified }}
              <td>--</td>
            {{/table.row}}
          {{/unless}}
        {{/each}}
      </tbody>
    {{/browser.table}}
  {{/directory-browser}}
</div>