<div class='ui main container'>

  {{! Create a breadcrumb to access all parent directories from the top }}
  <div class='ui breadcrumb'>
    {{#each (reverse model.ancestors.content) as |ancestor|}}
      {{! Add a breadcrumb link to each ancestor }}
      {{#link-to 'home.directory' ancestor class='section'}}
        {{format-directory-name ancestor.name}}
      {{/link-to}}
      {{! Add a divider between each ancestor }}
      <i class='right angle icon divider'></i>
    {{/each}}
    {{! Current directory is last breadcrumb }}
    {{#if model.ancestors.isFulfilled}}
      <h4 class='section'>
        {{format-directory-name model.name}}
      </h4>
    {{/if}}
  </div>

  <div class='ui dimmable container'>
    <div class='ui inverted dimmer {{if isLoading 'active' }}'>
      <div class='ui loader'></div>
    </div>
    <div class='ui top attached mini menu'>
      {{#if selectedDirOrFiles}}
        <a href='#' class='ui item'>
          <i class='write icon'></i>
          Rename
        </a>
        <a {{action 'destroyDirOrFiles' selectedDirOrFiles}} class='ui item'>
          <i class='trash icon'></i>
          Delete
        </a>
      {{/if}}
      <div class='right menu'>
        <div class='ui item'>
          <div class='ui transparent input'>
          {{input class='prompt' type='text' value=newDirOrFileNameText placeholder='Name'}}
          </div>
        </div>
        {{!
          Using closure actions we need to prevent firing it if "button" is disabled.
          Note that we are using anchors because buttons look very ugly as a menu item.
        }}
        <a class='ui icon item {{if (eq newDirOrFileNameText '') 'disabled'}}'>
          <i class='file icon'></i>
        </a>
        <a
          class='ui icon item {{if (eq newDirOrFileNameText '') 'disabled'}}'
          onclick={{unless (eq newDirOrFileNameText '') (action 'createNewDirectoryFromInput')}}
        >
          <i class='folder icon'></i>
        </a>
      </div>
    </div>
    <table class='ui bottom attached unstackable selectable table'>
      <thead>
        <tr>
        <th>Name</th>
        <th>Modified</th>
        </tr>
      </thead>

      <tbody>
        {{#each model.children as |child|}}
        {{#unless child.isNew}}
          <tr
            class='table-entry directory-entry
              {{if (array-contains selectedDirOrFiles child) 'active'}}'
            {{action 'setSelectedDirOrFile' child }}
          >
            {{! Name }}
            <td>
              {{#link-to 'home.directory' child}}
                <i class='folder icon'></i>
                {{child.name}}
              {{/link-to}}
            </td>
            {{! Modified }}
            <td>--</td>
          </tr>
        {{else}}
          <tr class='table-entry directory-entry loading'>
            {{! Name }}
            <td>
              <a href='#'>
                <i class='folder icon'></i>
                {{child.name}}
              </a>
            </td>
            {{! Modified }}
            <td>--</td>
          </tr>
        {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>

</div>