<div class='ui fixed borderless menu'>
<div class='ui container'>

  {{! On the left we have the product icon + name }}
  <a class='header item' href='#'>
    Smartdirect
  </a>

  {{#if session.isAuthenticated}}
    {{!
      On the right we have a dropdown with their given name.
      They can access all the different settings here.
    }}
    {{#ui-dropdown class='item right'}}
      {{profile.givenName}}

      <i class='dropdown icon'></i>
      <div class='menu'>
        <a class='item' href='#' {{action 'logout'}}>Logout</a>
      </div>
    {{/ui-dropdown}}
  {{else}}
    {{!
      If we aren't logged in, then make it clear with a colored button
      that they should log in
    }}
    <div class='item right'>
    <button class='ui blue button' href='#' {{action 'login'}}>
      Login
    </button>
    </div>
  {{/if}}

</div>
</div>

{{#ember-notify classPrefix='custom-notify' as |message close|}}
  {{! TODO: Use message.type to determine class }}
  <div class='ui negative message close' {{action close}}>
    <span>{{message.text}}</span>
  </div>
{{/ember-notify}}

<main>
  {{outlet}}
</main>
