{{#bs-navbar type='inverse' as |navbar|}}

  {{! On the left we have the product icon + name }}
  <div class='navbar-header'>
    {{navbar.toggle}}
    {{#link-to 'index' class='navbar-brand' activeClass=''}}
      Smartdirect
    {{/link-to}}
  </div>

  {{#navbar.content}}

  {{#navbar.nav class='navbar-right' as |nav|}}
    {{#if session.isAuthenticated}}
      {{!
        On the right we have a dropdown with their given name.
        They can access all the different settings here.
      }}
      {{#nav.dropdown tagName='li' as |dropdown|}}
        {{#dropdown.toggle}}
          {{profile.givenName}} <span class='caret'></span>
        {{/dropdown.toggle}}
        {{#dropdown.menu as |menu|}}
          {{#menu.item}}
            <a href='#' {{action 'logout'}}>Logout</a>
          {{/menu.item}}
        {{/dropdown.menu}}
      {{/nav.dropdown}}
    {{else}}
      {{!
        If we aren't logged in, then make it clear with a colored button
        that they should log in
      }}
      {{#nav.item class='navbar-btn'}}
        {{#bs-button onClick=(action 'login')}}
          Login
        {{/bs-button}}
      {{/nav.item}}
    {{/if}}
  {{/navbar.nav}}

  {{/navbar.content}}

{{/bs-navbar}}

{{#ember-notify classPrefix='custom-notify' as |message close|}}
  {{! TODO: Use message.type to determine class }}
  <div class='ui negative message close' {{action close}}>
    <span>{{message.text}}</span>
  </div>
{{/ember-notify}}

<main>
  {{outlet}}
</main>
